@charset "UTF-8";
.str3 {stroke:black;stroke-width:0.0019;stroke-miterlimit:22.9256}
.str1 {stroke:#990000;stroke-width:0.0019;stroke-miterlimit:22.9256}
.str2 {stroke:#CC2129;stroke-width:0.0019;stroke-miterlimit:22.9256}
.str0 {stroke:#CC3300;stroke-width:0.0007;stroke-miterlimit:22.9256}
.fil2 {fill:black}
.fil7 {fill:#805923}
.fil9 {fill:#969491}
.fil12 {fill:#990000}
.fil5 {fill:#9A5902}
.fil10 {fill:#B6B3AE}
.fil3 {fill:#BBB381}
.fil11 {fill:#C17400}
.fil0 {fill:#CC2129}
.fil4 {fill:#DBD19C}
.fil1 {fill:#E42632}
.fil8 {fill:#E69F36}
.fil6 {fill:#FFCE1E}
